<div class="header">
    <h1>NY Times Scraper!</h1>
</div>
<div class="container">
    <button id="scrape-button">Scrape Articles!</button>
    <button id="delete-all-button">Remove Articles</button>
    <div class="articles">
        {{#each article}}
        <div class="article-data">
            <p>Title: {{title}}</p>
            <a href={{link}}>{{link}}</a><br><br>
            <button class="btn" id="note-button" data-id="{{_id}}">Notes</button>
            <button class="btn" id="delete-button" data-id="{{_id}}">Remove Article</button>

        </div>
        {{/each}}

    </div>
</div>
<div class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="article-title"></div>
        <form id="new-note">
            <label for="title">Note Title:</label><br>
            <input type="text" id="note-title">
            <br>
            <label for="title">Note Content:</label><br>
            <textarea id="note-body"></textarea>
            <br><br>
            <button class="btn" type="submit">Save Note</button>
        
        </form>
    </div>
</div>